In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hridvi arora\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hridvi arora\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hridvi arora\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hridvi arora\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\hridvi arora\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: sortedcontainers in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hridvi arora\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hridvi arora\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hridvi arora\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hridvi arora\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()

In [6]:
# Opening the shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [7]:
# Entering job title
designation=driver.find_element(By.ID,"id_q")
designation.send_keys('Data Analyst')

In [8]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [9]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [14]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [15]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
# Scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
    
# Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# Scraping job experience  from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [16]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [17]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Technical Data Analyst,Gurugram\n+9,krishna consultancy.. hiring for co...,4 to 9 Yrs
1,opening data analyst -Bangalore,Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs
2,Senior Data Analyst,Gurugram\n+8,harjai computers private limited,0 to 2 Yrs
3,Hiring For Data Analyst,Gurugram\n+8,harjai computers private limited,2 to 5 Yrs
4,Data Analyst,Bangalore,true caller,3 to 5 Yrs
5,Clinical Data Analyst,Mumbai City\n+4,quiscon biotech,0 to 2 Yrs
6,Mobility Data Analyst - IN/MKR,Bangalore,bosch group,4 to 6 Yrs
7,Senior Data Analyst,Bangalore,true caller,5 to 7 Yrs
8,Data Analyst,Congo\n+13,rama technical consultants,11 to 21 Yrs
9,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs

In [18]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [19]:
driver = webdriver.Chrome()

In [20]:
driver.get('https://www.shine.com/')

In [21]:
designation=driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

In [22]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Banglore')

In [25]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [26]:
Job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [31]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
# Scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
    
# Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# Scraping job experience  from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [38]:
print(len(job_location),len(company_name),len(experience_required))

30 30 30

In [40]:
import pandas as pd
df=pd.DataFrame({'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

           Location                   Company_name    Experience
0         Bangalore              the fashion cosmo    0 to 4 Yrs
1         Bangalore  te connectivity india pvt ltd    5 to 7 Yrs
2         Bangalore              sap india pvt ltd    5 to 7 Yrs
3         Bangalore                         inmobi    7 to 9 Yrs
4       Canada\n+17       kavya staffing solutions    0 to 4 Yrs
5         Patan\n+9             realtech solutions     0 to 1 Yr
6   Mumbai City\n+6                quiscon biotech     0 to 1 Yr
7         Bangalore                         amazon  10 to 12 Yrs
8       Canada\n+17       kavya staffing solutions    0 to 4 Yrs
9         Bangalore                         amazon    3 to 5 Yrs
10        Bangalore              the fashion cosmo    0 to 4 Yrs
11        Bangalore  te connectivity india pvt ltd    5 to 7 Yrs
12        Bangalore              sap india pvt ltd    5 to 7 Yrs
13        Bangalore                         inmobi    7 to 9 Yrs
14      Canada\n+17       kavya staffing solutions    0 to 4 Yrs
15        Patan\n+9             realtech solutions     0 to 1 Yr
16  Mumbai City\n+6                quiscon biotech     0 to 1 Yr
17        Bangalore                         amazon  10 to 12 Yrs
18      Canada\n+17       kavya staffing solutions    0 to 4 Yrs
19        Bangalore                         amazon    3 to 5 Yrs
20        Bangalore              the fashion cosmo    0 to 4 Yrs
21        Bangalore  te connectivity india pvt ltd    5 to 7 Yrs
22        Bangalore              sap india pvt ltd    5 to 7 Yrs
23        Bangalore                         inmobi    7 to 9 Yrs
24      Canada\n+17       kavya staffing solutions    0 to 4 Yrs
25        Patan\n+9             realtech solutions     0 to 1 Yr
26  Mumbai City\n+6                quiscon biotech     0 to 1 Yr
27        Bangalore                         amazon  10 to 12 Yrs
28      Canada\n+17       kavya staffing solutions    0 to 4 Yrs
29        Bangalore                         amazon    3 to 5 Yrs